.editorrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    
    
  }
  
  .editorcolumn {
    
    flex-direction: column;
    width:min-content;
  }






.resizebutton{
    margin-bottom:4px;
    margin-right:4px;
    user-select: none; 
    width: 60px;
    height: 60px;
    color:white;
    background-color:#353A3F;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;       /* The same as your div height */
}

.resizebutton:disabled{
  background-color:grey;
}

.resizebutton2{
  margin-bottom:4px;
  margin-right:4px;
  user-select: none; 
  width: 124px;
  height: 60px;
  color:white;
  background-color:#353A3F;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;       /* The same as your div height */
}

.resizebutton2:disabled{
background-color:grey;
}

  .shapeditorletterbox
  {
    user-select: none; 
      width: 60px;
      height: 60px;
      color:white;
      background-color: #000000;
      font-family: 'Courier New', Courier, monospace;
    
      font-weight: bold;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      margin-top:0px;
      margin-bottom:4px;
      margin-left:0px;
      margin-right:0px;
      padding: 0px;
      border-spacing:0; 
      
   
    }

    .shapeditorletterboxwide
  {
    user-select: none; 
      width: 124px;
      height: 60px;
      color:white;
      background-color: #000000;
      font-family: 'Courier New', Courier, monospace;
    
      font-weight: bold;
      display: inline-block;
      text-align: start;
      vertical-align: middle;
      margin:0px;
      padding: 0px;
      border-spacing:0; 
   
    }

    table.shapeditorletterbox td
    {
      width: 60px;
    }

    .shapeeditortext
    {
      user-select: none; 
      font-size: 15px;
     line-height: 30px;       
    }

    .shapeeditortext2
    {
      user-select: none; 
      font-size: 15px;
     line-height: 6px;       
    }

    .shapeditortextsub
    {
      user-select: none; 
      font-size: 15px;
          
    }

    .shapeditortextsub2
    {
      display:inline-block;
      user-select: none; 
      font-size: 15px;
    }

    .shapeditortextsub3
    {
      user-select: none; 
      font-size: 12px;
    }


.shapebutton{
  user-select: none;
  margin-bottom:4px; 
    width: 60px;
    height: 60px;
    background-color:#007CF9;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
}

.shapebutton:disabled{
  
  background-color:grey;

}


.movebutton{
  user-select: none; 
    width: 60px;
    height: 60px;
    background-color:#353A3F;
}

.movebutton:disabled{
  background-color:grey;
}

.arrowmove {
  user-select: none; 
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .arrowright {
    transform: rotate(-45deg);
  }
  
  .arrowleft {
    transform: rotate(135deg);
  }
  
  .arrowup {
    transform: rotate(-135deg);
  }

  .arrowupleft {
    transform: rotate(180deg);
  }

  .arrowupright {
    transform: rotate(270deg);
  }
  
  .arrowdown {
    transform: rotate(45deg);
  }

  .arrowdownleft {
    transform: rotate(90deg);
  }

  .arrowdownright {
    transform: rotate(0deg);
  }




  /* Chrome, Edge, and Safari */
  div::-webkit-scrollbar {
    width: 16px;
  }

  div::-webkit-scrollbar-track {
    background: #ffffff;
  }

  div::-webkit-scrollbar-thumb {
    background-color: #353A3F;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  .tooltip {
    user-select: none; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: absolute;
    top: -30px;
    left: 0;
    display: none;
    padding: 5px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    pointer-events: none;
  }

  


