html{
  margin:0px;
  height:100%;
}

body{
  margin:0px;
  height:100%;
  

  background: linear-gradient(
      217deg,
      rgb(6 28  43 / 99%),
      rgb(0 0 0 / 40%) 70.71%
    ), linear-gradient(127deg, rgb(6 28  43 / 99%), rgb(0 0 0 / 40%) 70.71%),
    linear-gradient(336deg, rgb(6 28  43 / 99%), rgb(0 0 0 / 40%) 70.71%);
  color:white;
  font-family: Tahoma, Verdana, Geneva,  sans-serif;
 
}

.thermalFormField{
  color:black;
  font-family: Tahoma, Verdana, Geneva,  sans-serif;
  font-size: 18px;
}

#busyLayer{
  background:rgba(0,0,0,.95);
  position: fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  user-select: none;
  z-index: 99;
}

.thermalDialog{
  
  user-select: none;
  
}

.thermalDialogContent{
  background-color: white;
  color:black;
  margin:80px;
  padding:40px;
  border-radius: 25px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.4);
}

.thermalDialogTitle{
  font-size:28px;
}

.thermalDialogRule{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.thermalDialogBody{
  font-size:24px;
}

.editorrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .editorcolumn {
    
    flex-direction: column;
    width:min-content;
    min-width: 80px;
  }

  .regionContainer{
    border:2px solid rgb(73, 202, 190, 1);
  }

.resizebutton{
  border-radius: 8px;
  border: 2px solid rgb(73, 202, 190, .3);
    padding:0px;
    margin-bottom:4px;
    margin-right:4px;
    user-select: none;
    min-width: 60px;
    width: 60px;
    height: 60px;
    color:white;
    background-color:#353A3F;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;       /* The same as your div height */
}

.resizebutton:disabled{
  background-color:grey;
}

.resizebutton2{
  border-radius: 8px;
  border: 2px solid rgb(73, 202, 190, .3);
  padding:0px;
  margin-bottom:4px;
  margin-right:4px;
  user-select: none; 
  min-width: 124px;
  width: 124px;
  height: 60px;
  color:white;
  background-color:#353A3F;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;       /* The same as your div height */
}

.resizebutton3{
  border-radius: 8px;
  border: 2px solid rgb(73, 202, 190, .3);
  padding:0px;
  margin-bottom:4px;
  margin-right:4px;
  user-select: none; 
  min-width: 190px;
  width: 190px;
  height: 60px;
  color:white;
  background-color:#353A3F;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;       /* The same as your div height */
}

.resizebutton2:disabled{
background-color:grey;
}

  .regionditorletterbox
  {
    user-select: none; 
    min-width: 60px;
      width: 60px;
      height: 60px;
      color:white;
      background-color: #000000;
      font-weight: bold;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      margin-top:0px;
      margin-bottom:4px;
      margin-left:0px;
      margin-right:0px;
      padding: 0px;
      border-spacing:0; 
      
   
    }

    .regionditorletterboxwide
  {
    user-select: none; 
      width: 124px;
      height: 60px;
      color:white;
      background-color: #000000;
    
      font-weight: bold;
      display: inline-block;
      text-align: start;
      vertical-align: middle;
      margin:0px;
      padding: 0px;
      border-spacing:0; 
   
    }

    table.regionditorletterbox td
    {
      min-width: 60px;
      width: 60px;
    }

    .regioneditortext
    {
      white-space: nowrap;
      user-select: none; 
      font-size: 13px;
     line-height: 30px; 
     color:white;      
    }

    .regioneditortext2
    {
      white-space: nowrap;
      user-select: none; 
      font-size: 13px;
     line-height: 6px;       
    }

    .regionditortextsub
    {
      white-space: nowrap;
      user-select: none; 
      font-size: 15px;
          
    }

    .regionditortextsub2
    {
      white-space: nowrap;
      display:inline-block;
      user-select: none; 
      font-size: 15px;
    }

    .regionditortextsub3
    {
      white-space: nowrap;
      user-select: none; 
      font-size: 12px;
    }

    .regionditortextsub4
    {
      width: 120px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      user-select: none; 
      font-size: 11px;
    }


.regionbutton{
  border-radius: 8px;
  border: 2px solid rgb(73, 202, 190, .3);
  padding:0px;
  user-select: none;
  margin-bottom:4px; 
  min-width: 60px;
    width: 60px;
    height: 60px;
    background-color:#007CF9;
    color:white;
    font-size: 18px;
    font-weight: bold;
}

.regionbutton:disabled{
  
  background-color:grey;

}


.movebutton{
  padding:0px;
  user-select: none; 
  min-width: 60px;
    width: 60px;
    height: 60px;
    background-color:#353A3F;
}

.movebutton:disabled{
  background-color:grey;
}





  /* Chrome, Edge, and Safari */
  div::-webkit-scrollbar {
    width: 16px;
  }

  div::-webkit-scrollbar-track {
    background: #ffffff;
  }

  div::-webkit-scrollbar-thumb {
    background-color: #353A3F;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  #tooltip {
    user-select: none; 
    font-weight: bold;
    position: absolute;
    top: -30px;
    left: 0;
    display: none;
    padding: 5px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    z-index: 2;
  }

  #tiptarget {
    user-select: none; 
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    background-color: rgba(0,0,0,0);
    color: #fff;
    font-size: 22px;
    pointer-events: none;
    z-index: 2;
    margin:0;
    padding:0;
  }

  #tipmagnifier {
    user-select: none; 
    position: absolute;
    top: -30px;
    left: 0;
    display: none;
    padding: 0px;
    background-color: rgba(0,0,0,0);
    color: #fff;
    font-size: 22px;
    pointer-events: none;
    z-index: 2;

  }

  

  

  .sliderFrom {
    -webkit-appearance: none;
    height: 7px;
    margin-left:0px;
    background: rgba(255, 255, 255, 0.0);
    border-radius: 5px;
    pointer-events: none;
    width:100%;
    
    
  }

  .sliderTo {
    -webkit-appearance: none;
    height: 7px;
   
    margin-left:20px;
    background: rgba(255, 255, 255, 0.0);
    border-radius: 5px;
    pointer-events: none;
    width:100%;
   
    
  }
  
 .sliderFrom::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background:#007BFF;
    cursor: ew-resize;
    pointer-events: auto !important;
  }

  .sliderTo::-webkit-slider-thumb {
    margin-top:-35px;
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background:#007BFF;
    cursor: ew-resize;
    pointer-events: auto !important;
  }


  .loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #343A40;
  }

  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }

  .loader:after {
    color: #007bff;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {

    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }

  .center {

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  

  


